<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ExecutableFolder" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProcessKillerProductComponents">
            <Component Id="cmpCC108AF2D3FEF0FB9F013BDEE596F7FD" Directory="ExecutableFolder" Guid="{C18ABC3B-21A0-4E09-B94F-10151427174A}">
                <File Id="fil0F644159A70309CF6F49DC1DBEA6C3B0" KeyPath="yes" Source="$(var.ProcessKillerSetupFiles)\ProcessKillerConsoleApp.exe" />
            </Component>
            <Component Id="cmp980352B976B5082D5C032B63CBAF32A9" Directory="ExecutableFolder" Guid="{53304ACD-63F9-4523-A478-E7B65AED9051}">
                <File Id="fil7F910637E34BF9F506DA4CCEEE127176" KeyPath="yes" Source="$(var.ProcessKillerSetupFiles)\ProcessKillerConsoleApp.exe.config" />
            </Component>
            <Component Id="cmp9BE04E7708A2F37EE7368FC42E12CD24" Directory="ExecutableFolder" Guid="{B9AF2559-0733-4823-AABD-2D9B8CBBC95A}">
                <File Id="filC22C0F1735191BF5E07F9D612F92E730" KeyPath="yes" Source="$(var.ProcessKillerSetupFiles)\ProcessKillerConsoleApp.pdb" />
            </Component>
            <Component Id="cmpA910D350BB5696938BAC1A0F73B490CC" Directory="ExecutableFolder" Guid="{3F77803E-4702-4D42-B6C1-441CB22E0FC1}">
                <File Id="fil2BDA9E0E0D15DD9D3ED3FA4B1E305F80" KeyPath="yes" Source="$(var.ProcessKillerSetupFiles)\ProcessKillerConsoleApp.vshost.exe" />
            </Component>
            <Component Id="cmp1A47D3CD0BD441133F75ED51D7C3B174" Directory="ExecutableFolder" Guid="{163B6B4B-5069-4275-AC77-64AB5B915FEA}">
                <File Id="fil03AE6A97C370075F13E39AAEC791B8B3" KeyPath="yes" Source="$(var.ProcessKillerSetupFiles)\ProcessKillerConsoleApp.vshost.exe.config" />
            </Component>
            <Component Id="cmp6BF80BD979E97DAA7997897A2E38A2F2" Directory="ExecutableFolder" Guid="{4A64DCD8-C668-45EA-A392-E7A1C7620F81}">
                <File Id="fil9C4DF3C418624FA6BC2EDBDBFD87BB22" KeyPath="yes" Source="$(var.ProcessKillerSetupFiles)\ProcessKillerConsoleApp.vshost.exe.manifest" />
            </Component>
            <Component Id="cmpC77559F51196F85F85FF2C2904114991" Directory="ExecutableFolder" Guid="{91A6C441-9A17-421D-88DF-A06B6F98B8F1}">
                <File Id="fil1F5D25E8A2E88F78D0864ADF85862671" KeyPath="yes" Source="$(var.ProcessKillerSetupFiles)\UygulamaListesi.txt" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>