<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
	<Product Id="*" Name="ProcessKiller.Setup" Language="1033" Version="1.0.0.0" Manufacturer="EAE Technology" UpgradeCode="2D4D86DA-A188-4A06-A4C9-CD9C2E070EA5">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProcessKillerProductFeature" Title="ProcessKiller.Setup" Level="1">
			<ComponentGroupRef Id="ProcessKillerProductComponents" />
      <ComponentRef Id="ApplicationShortcuts"/>
      <ComponentRef Id="ApplicationShortcut"/>
		</Feature>
	</Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ProcessKillerFolder" Name="ProcessKiller">
          <Directory Id="ExecutableFolder" Name="ProcessKillerExecutable">
            <Directory Id="StrongNameKeyFileFolder" Name="StrongNameKeyFile" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="StartupFolder" />
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ExecutableFolder">
      <Component Id="ApplicationShortcuts" Guid="393F9DAB-F21F-45F1-B4B6-E6C9B436AA96">
        <RegistryValue Root="HKCU" Key="Software\Microsoft\ProcessKillerExecutable" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <RemoveFolder Id="ExecutableFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="StartupFolder">
      <Component Id="ApplicationShortcut" Guid="2304611B-B05C-4F8F-8A70-2C854475CC8B"> 
        <Shortcut Id="ApplicationStartupShortcut"
                Name="ProcessKiller"
                Description="ProcessKiller"
                Target="[ExecutableFolder]ProcessKiller.exe"
                WorkingDirectory="ExecutableFolder"
                 />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\ProcessKiller" Name="installed" Type="integer" Value="1" KeyPath="yes"/> 
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>
