<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?include Variables.wxi?>
  
	<Product Id="*" Name="ProcessKiller.Service.Setup" Language="1033" Version="1.0.0.0" Manufacturer="EAE Technology" UpgradeCode="CA392C82-B77F-45E6-93B4-C938B231F50B"> 
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" AdminImage="yes" InstallPrivileges="elevated" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ServiceProductFeature" Title="ProcessKiller.Service.Setup" Level="1"> 
      <ComponentGroupRef Id="ServiceProductComponents" />
      <ComponentRef Id="ServiceComponent"/>
      <ComponentRef Id="ApplicationShortcuts"/>
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="ProcessKillerFolder" Name="ProcessKiller">
          <Directory Id="ExecutableFolder" Name="ProcessKillerExecutable">
            <Component Id="ApplicationShortcuts" Guid="471E6643-0DE2-463F-A56F-0A1ADDE51707"> 
              <RegistryValue Root="HKCU" Key="Software\Microsoft\ProcessKillerService" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
              <RemoveFolder Id="ExecutableFolder" On="uninstall"/>
            </Component>
          </Directory>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>
 
  <!-- Service registration fragment -->
  <Fragment>
    <ComponentGroup Id="ServiceProductComponents" Directory="ExecutableFolder">
      <Component Id ="ServiceComponent" Guid="1D3AD5AC-51F2-4922-B697-89022AFC5DEE"> 

        <File
          Id="ProcessKillerConsoleApp.exe"
          Name="ProcessKillerConsoleApp.exe"
          Source="$(var.SourceDir)\ProcessKillerConsoleApp.exe"
          Vital="yes"
          KeyPath="yes"
          DiskId="1"/>

        <!--Node below adds service to Service Management Console. Executable files are endpoints of services -->
        <!--ownProcess : Windows process, LocalSystem : Service account that has wide-ranging privileges, Start : starts service automatically or manually: Error Control : If normal displays error message, 
            ServiceDependency : To run this service properly, the service in service dependency node must be started before this service start-->
        <ServiceInstall
          Id="ServiceInstaller"
          Type="ownProcess"
          Vital="yes"
          Name="ProcessKillerService"
          DisplayName="Process Killer Service"
          Description="This service kills redundant MRP processes"
          Start="auto"
          Account="LocalSystem"
          ErrorControl="ignore"
          Interactive="no">

          <!-- Node below if service is crashed, the operating system will do the operations in attributes -->
          <!-- RestartServiceDelayInSeconds : If service is crashed, os will delay seconds written in this attribute and will restart the service -->
          <util:ServiceConfig
            ServiceName="ProcessKillerService"
            FirstFailureActionType="restart"
            SecondFailureActionType="restart"
            ThirdFailureActionType="restart"
            RestartServiceDelayInSeconds="0"
            ResetPeriodInDays="1" />

          <!-- Tag below to start service after 2 minutes the last window service has started (delayed start) -->
          <ServiceConfig
            DelayedAutoStart="yes"
            OnInstall="yes"
            OnReinstall ="yes" />

        </ServiceInstall>

        <!-- ServiceControl Node determines behavior of service on install, uninstall and both -->
        <ServiceControl
          Id="ServiceInstaller"
          Name="ProcessKillerService"
          Start="install"
          Stop="uninstall"
          Remove="uninstall"
          Wait="no">
        </ServiceControl>

      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
